#calc_cont{
	margin-left:50%;
	margin-right:50%;
}
table{
	border 1px solid black;
}

#result{
	text-align:right;
}

td>input{
	height:100%;
	width:100%;
	padding:0 0 0 0;
	margin: 0 0 0 0;
}
#equals{
	padding:0%;
	margin:1px;
}