<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
<meta http-equiv="Content-Type" name="text/html; charset=UTF-8"/>
<title>Łelkom</title>
</h:head>
<h:body>
<h2>Linki</h2>
<ul>
<li><a href="#{request.contextPath}/jsp/calc.jsp">JSP</a></li>
<li><h:link outcome="/jsf/calc.xhtml" value="JSF" /></li>
</ul>
</h:body> 
</html>