<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" name="text/html; charset=UTF-8" />
	<h:outputStylesheet library="css" name="style.css" />
	<title>JSF Kalkulator</title>
</h:head>
<h:body>
	<span id="calc_cont" >
		<fieldset style="display: inline;">
			<legend>
				<p>JSF Kalkulator</p>
			</legend>
			<br />
			<h:form id="calcForm" method="post" style="background-color:##{picker.background}">

				<table>
					<tr>
						<td colspan="4" id="result" style="border:1px solid ##{picker.screen}"><h:outputText
								value="#{calcController.result()}"
								style="color:##{picker.font}" /></td>
						<td><h:commandButton action="#{calcController.clear()}"
								value="C" >
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
					</tr>
					<tr>
						<td><h:commandButton
								action="#{calcController.expression('9')}" value="9"
								disabled="#{calcController.disabled()}">
								<f:ajax execute="@this" render=":calcForm" />
							</h:commandButton></td>
						<td><h:commandButton
								action="#{calcController.expression('8')}" value="8"
								disabled="#{calcController.disabled()}">
								<f:ajax execute="@this" render=":calcForm" />
							</h:commandButton></td>
						<td><h:commandButton
								action="#{calcController.expression('7')}" value="7"
								disabled="#{calcController.disabled()}" >
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
						<td><h:commandButton
								action="#{calcController.expression('/')}" value="/"
								disabled="#{calcController.disabled()}" >
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
								<td><h:commandButton
								action="#{calcController.removeElement()}" value="R"
								disabled="#{calcController.disabled()}" >
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
						
					</tr>
					<tr>
						<td><h:commandButton
								action="#{calcController.expression('4')}" value="4"
								disabled="#{calcController.disabled()}" >
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
						<td><h:commandButton
								action="#{calcController.expression('5')}" value="5"
								disabled="#{calcController.disabled()}" >
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
						<td><h:commandButton
								action="#{calcController.expression('6')}" value="6"
								disabled="#{calcController.disabled()}" >
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
						<td><h:commandButton
								action="#{calcController.expression('*')}" value="*"
								disabled="#{calcController.disabled()}" >
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
						<td><h:commandButton
								action="#{calcController.expression('sqrt')}" value="sqrt"
								disabled="#{calcController.disabled()}" >
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>		
						
					</tr>
					<tr>
						<td><h:commandButton
								action="#{calcController.expression('1')}" value="1"
								disabled="#{calcController.disabled()}" >
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
						<td><h:commandButton
								action="#{calcController.expression('2')}" value="2"
								disabled="#{calcController.disabled()}">
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
						<td><h:commandButton
								action="#{calcController.expression('3')}" value="3"
								disabled="#{calcController.disabled()}"><f:ajax execute="@this" render=":calcForm" /></h:commandButton></td>
						<td><h:commandButton
								action="#{calcController.expression('-')}" value="-"
								disabled="#{calcController.disabled()}">
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
								<td><h:commandButton
								action="#{calcController.expression('%')}" value="%"
								disabled="#{calcController.disabled()}" >
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
						
					</tr>
					<tr>
						<td><h:commandButton
								action="#{calcController.expression('0')}" value="0"
								disabled="#{calcController.disabled()}"></h:commandButton></td>
						<td><h:commandButton
								action="#{calcController.expression('.')}" value="."
								disabled="#{calcController.disabled()}" >
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
						<td><h:commandButton
								action="#{calcController.expression('+/-')}" value="+/-"
								disabled="#{calcController.disabled()}">
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
						<td><h:commandButton
								action="#{calcController.expression('+')}" value="+"
								disabled="#{calcController.disabled()}">
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
								<td><h:commandButton
								action="#{calcController.expression('=')}" value="="
								disabled="#{calcController.disabled()}">
								<f:ajax execute="@this" render=":calcForm" />
								</h:commandButton></td>
					</tr>
				</table>
				<br />
				<h:message id="prompt" errorStyle="color:red" />
			</h:form>
			<h:commandButton id="setBtn" action="#{picker.render()}"
				value="#{picker.buttonLabel()}">
				<f:ajax execute="@this" render=":colorForm :setBtn" />
			</h:commandButton>
			
			
			<h:form id="colorForm">
			<h:panelGrid id="settingsGrid" columns="2" rendered="#{picker.bRender}">
				<h:outputLabel value="Screen Color" />
				<p:colorPicker value="#{picker.screen}" mode="popup" />
				<h:outputLabel value="Background Color" />
				<p:colorPicker value="#{picker.background}" mode="popup" />
				<h:outputLabel value="Font Color" />
				<p:colorPicker value="#{picker.font}" mode="popup" />
				<h:commandButton action="#{picker.render()}" value="Apply">
					<f:ajax execute="@this :colorForm" render=":calcForm :settings" />
				</h:commandButton>
				<h:commandButton action="#{picker.reset()}" value="Reset" >
				<f:ajax execute="@this :colorForm" render=":calcForm :settings" />
				</h:commandButton>
			</h:panelGrid>
				</h:form>
			</fieldset>
	</span>
</h:body>
</html>